<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
</head>
<body>

<section layout:fragment="content">
    <div class="login-form border rounded p-4 shadow-sm bg-white">

        <form th:action="@{/login}" th:method="POST" th:object="${userLoginRequest}">

            <h2 class="h5 mb-3 text-center">Вход</h2>

            <div th:if="${#fields.hasErrors('*')}">
                <ul class="list-unstyled text-danger small">
                    <li class="mb-1" th:each="err : ${#fields.errors('*')}" th:text="'- ' + ${err}"></li>
                </ul>
            </div>

            <div class="mb-3">
                <input th:field="*{name}" type="text" class="form-control" placeholder="Имя" required>
            </div>
            <div class="mb-3">
                <input th:field="*{password}" type="password" class="form-control" placeholder="Пароль" required>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Вход</button>
            </div>
            <div class="text-center">
                <a th:href="@{/registration}">Регистрация</a>
            </div>
        </form>
    </div>
</section>

</body>
</html>