<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>

<section layout:fragment="content">
    <form th:method="POST" th:action="@{/registration}" th:object="${userRegistrationDto}"
          class="login-form border rounded p-4 shadow-sm bg-white">
        <h2 class="h5 mb-3 text-center">Регистрация</h2>

        <div th:if="${#fields.hasErrors('*')}">
            <ul class="list-unstyled text-danger small">
                <li class="mb-1" th:each="err : ${#fields.errors('*')}" th:text="'- ' + ${err}"></li>
            </ul>
        </div>

        <div class="mb-3">
            <input th:field="*{login}" type="text" class="form-control" placeholder="Логин" required>
        </div>

        <div class="mb-3">
            <input th:field="*{password}" type="password" class="form-control" placeholder="Пароль" required>
        </div>

        <div class="mb-3">
            <input th:field="*{confirmPassword}" type="password" class="form-control" placeholder="Подтверждение пароля"
                   required>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Регистрация</button>
        </div>
    </form>
</section>

</body>
</html>