<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Результаты поиска</title>
</head>
<body>

<section layout:fragment="content">
    <div th:if="${cityNotFound}" th:text="${cityNotFound}"></div>

    <ul class="search-result-list">
        <li th:each="location : ${cities}">
            <form th:action="@{locations/add}" class="location-form"
                  th:data-location-name="${location.name}"
                  th:data-location-longitude="${location.coord.longitude}"
                  th:data-location-latitude="${location.coord.latitude}">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <div>
                        <span th:text="${location.name}"></span>
                        (<span th:text="${location.country}"></span>)
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <button type="submit" class="btn btn-sm btn-outline-primary">Добавить</button>
                    </div>
                </div>
            </form>
        </li>
    </ul>

</section>

</body>
</html>