<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Результаты поиска</title>
</head>
<body>

<se1ction layout:fragment="content">
    <div th:if="${cityNotFound}" th:text="${cityNotFound}"></div>

    <ul>
        <li th:each="city : ${cities}">
            <span th:text="${city.name}"></span> (<span th:text="${city.country}"></span>)
        </li>
    </ul>

</se1ction>

</body>
</html>