<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Результаты поиска</title>
</head>
<body>

<section layout:fragment="content">
    <div th:if="${cityNotFound}" th:text="${cityNotFound}"></div>

    <ul>
        <li th:each="city : ${cities}">
            <form th:action="@{locations/add}" class="add-city-form" th:data-city-name="${city.name}"
                  th:data-city-longitude="${city.coord.getLongitude()}"
                  th:data-city-latitude="${city.coord.getLatitude()}">
                <span th:text="${city.name}"></span> (<span th:text="${city.country}"></span>)
                <button type="submit" class="btn btn-primary">Добавить</button>
                <span class="error-message"></span>
            </form>
        </li>
    </ul>

</section>

</body>
</html>