<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ru">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - WeatherApp">WeatherApp</title>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap/bootstrap.min.css}"/>
</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{fragments/header :: header}"></header>

<main class="flex-fill d-flex align-items-center justify-content-center">
    <section layout:fragment="content">

    </section>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:src="@{/resources/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/js/add-city-form-handler.js}"></script>
</body>
</html>