<header class="border-bottom py-2" th:fragment="header">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">

            <div class="me-auto">
                <a href="/" class="navbar-brand fw-bold">Weather-App</a>
            </div>

            <div class="mx-auto" style="max-width: 400px; flex:1;">
                <form class="d-flex" th:if="${isAuthenticated}" th:method="POST" th:action="@{/search-result}"
                      th:object="${searchRequest}">
                    <input class="form-control me-2" type="search"
                           placeholder="Введите название города или координаты в формате ХХ.ХХХХ ХХ.ХХХХ"
                           aria-label="Search"
                           th:field="*{query}"
                           required>
                    <button class="btn btn-outline-primary" type="submit">Найти</button>
                </form>
            </div>

            <div class="ms-auto" th:if="${isAuthenticated}">
                <a th:href="@{/logout}" class="btn btn-primary">Выход</a>
            </div>
            <div class="ms-auto" th:unless="${isAuthenticated}">
                <a th:href="@{/login}" class="btn btn-primary">Вход</a>
                <a th:href="@{/registration}" class="btn btn-outline-secondary ms-2">Регистрация</a>
            </div>

        </div>
    </div>
</header>